<div class='container_one'>

    <h1>E-Pay</h1>
    <p>Your budget transaction App</p>

    <br/>
    <div class="button_container">
        <%= button_to "Log in", new_user_session_path, class:"btn btn-primary", method: :get %>
        <%= button_to "Sign up", new_user_registration_path, class:"btn btn-primary", method: :get %>
    </div>
<div/>