<div class="category-container">
  <p class="form-card">
    <strong>Name:</strong>
    <%= payment.name %>
  </p>

  <p class="form-card">
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p class="form-card">
    <strong>User:</strong>
    <%= payment.user_id %>
  </p>

  <p class="form-card">
    <strong>Category:</strong>
    <%= payment.category_id %>
  </p>

</div>
