/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
  padding: 0;
}
.alert-notice {
  position: absolute;
  bottom: 3rem;
  width: 40%;
  left: 1rem;
}

.alert-notice > *{
  
  height: 50px;
  background-color: #00b300;
  color: white;
}
.header {
  background-color: #04356d;
  padding: 12px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0 10px;
}
.nav-logout {
  color: white;
  text-decoration: none;
  
}

.nav-title {
  margin: 0;
  padding: 0;
}
.nav-title h2 {
  text-align: center;
}

.nav-back-button {
  width: 25px;
  height: 25px;
}