

<div class="category-container">
  <p class="category-list">
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p class="category-list">
    <strong>Icon:</strong>
    <%= category.icon %>
  </p>

  <p class="category-list">
    <strong>User:</strong>
    <%= category.user_id %>
  </p>

</div>
